@model TweetsFeedViewModel

@{
    ViewData["Title"] = "Home / X";
    Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";
    PostModel postModel = Model.Post;
}

@functions {
    public string TimeAgo(TimeSpan timeSpan)
    {
        if (timeSpan.TotalSeconds < 1)
            return "just now";

        if (timeSpan.TotalMinutes < 1)
            return $"{timeSpan.Seconds}s";

        if (timeSpan.TotalHours < 1)
            return $"{timeSpan.Minutes}m";

        if (timeSpan.TotalDays < 1)
            return $"{timeSpan.Hours}h";

        if (timeSpan.TotalDays < 30)
            return $"{timeSpan.Days}d";

        if (timeSpan.TotalDays < 365)
            return $"{timeSpan.Days / 30}mo";

        return $"{timeSpan.Days / 365}y";
    }
}

<h2 class="mt-3">Home</h2>
<div class="content-scrollable">
    <form asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <textarea asp-for="@postModel.Content" class="form-control post-text" rows="3" placeholder="What is happening?!"></textarea>
            <span asp-validation-for="@postModel.Content" class="text-danger"></span>
        </div>
        <div class="form-group d-flex justify-content-end">
            <input type="submit" value="Post" class="btn btn-primary me-3 my-2 rounded-pill fw-bold post" />
        </div>
    </form>
    @{
        int index = 0;
    }
    @foreach (var tweet in Model.Tweets)
    {
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <a asp-controller="Users" asp-action="Profile" asp-route-id="@tweet.TweeterUserId">
                                <span class="fw-bold">@tweet.TweeterUserName</span><span class="text-secondary"> · </span><span class="text-secondary">@TimeAgo(tweet.TimeSincePosted)</span>
                            </a>
                        </div>
                        <p class="card-text">@tweet.Content</p>
                        @{
                            CreateCommentModalModel createCommentModalModel = new CreateCommentModalModel()
                { TweetId = tweet.Id, Index = index, CurrentUserId = Model.currentUserId, TweeterUserName = tweet.TweeterUserName, TimeAgo = @TimeAgo(tweet.TimeSincePosted), TweetContent = tweet.Content };
                            TweetActionsRowModel tweetActionsRowModel = new() { Tweet = tweet, Index = index };
                        }
                        <partial name="_CreateCommentModal" model="@createCommentModalModel" />
                        <partial name="_tweetActionsRow" model="@tweetActionsRowModel" />
                    </div>
                </div>
            </div>
        </div>
        index++;
    }
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
