@model IEnumerable<worsham.twitter.clone.Models.Follows>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FollowedUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FollowerUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FollowedUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FollowerUser.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
